

.Menu,.App
{
    width: 500px;
    text-align: center;
    height: 500px;
    border-radius: 10px;
    background-color:teal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;

}

.button ,
.Quiz button{
    display: flex;
    margin: auto;
    width: 100%;
    margin: 5px;
    cursor: pointer;
    justify-content: space-evenly;



}

.options{
    display: flex;
    flex-direction: column;

}
.endbutton{
    
    color: rgb(141, 255, 154); font-size: 16px; line-height: 16px; padding: 5px; border-radius: 14px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; }


.Menu button 
{
    
        color: rgb(141, 255, 154); font-size: 16px; line-height: 16px; padding: 5px; border-radius: 14px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
        .myButton:hover {
        background: #1C6EA4; }
        .myButton:active {
        background: #144E75; }
